body {
    color: rgb(197, 197, 197);
    background-color: rgb(8, 6, 19);
}

.containerTop {
    display: flex;
    justify-content: space-around;
}

.noUnderline {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 20px;
    border-radius: 16px;
    background-color: rgba(255, 255, 0, 0.106);
    padding: 1rem;
}

.noUnderline a, li {
    list-style-type: none;
    text-decoration: none;
    color: rgb(197, 197, 197);
}

li, a:hover {
    color: rgb(101, 102, 102);
    transition: 600ms;
}

.containerMain {
    display: flex;
    height: 800px;
    width: 1250px;
    border: solid 2px yellow;
    margin: auto;
}

.containerTitolo {
    height: 150px;
}

.back {
    width: 40px;
    height: 30px;
    border-radius: 6px;
    border-style: none;
    margin-right: 6px;
}

.movieImg {
    height: 650px;
    width: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(72, 0, 255);
    margin: auto;
}

.next {
    width: 40px;
    height: 30px;
    border-radius: 6px;
    border-style: none;
    margin-left: 6px;
}

.movieInfo {
    height: 800px;
    width: 625px;
    border: solid 2px rgb(255, 0, 34);
    margin: auto;
}